<div>
	<div *ngIf="!hasLoggedIn" class="panel panel-default">
		<div class="panel-body">
			<h2>Login Page</h2>
			<button class="btn btn-default" (click)="login()">Login</button>
			<!--<button class="btn btn-default" (click)="logout()">Logout</button>-->
		</div>
	</div>
	<div *ngIf="hasLoggedIn">
		<!--<button class="btn btn-default" (click)="logout()">Logout</button>-->
		<app-sidebar (onLogout)="logout()"></app-sidebar>
		<app-feed-home [channelName]="channelSelected.channelName" [channelId]="channelSelected.channelId">
		</app-feed-home>
		<app-widget></app-widget>
	</div>
</div>
