<div class="postInputBox">
	<form (ngSubmit)="onSubmit()">
		<div class="postInputBox__input">
			<img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
			<div class="form-control"><label for="title">Title</label>
				<input type="text" name="Title" id="title" [(ngModel)]="title" placeholder="enter title" />
				<label for="body">Body</label>
				<input type="text" name="Body" id="body" [(ngModel)]="body" placeholder="enter body" />
				<label for="tagId">TagId</label>
				<input type="text" name="TagId" id="tagId" [(ngModel)]="tagId" placeholder="enter tag ID" />
				<label for="channelId">ChannelId</label>
				<input type="text" name="ChannelId" id="channelId" [(ngModel)]="channelId"
					placeholder="enter channel ID" />
				<label class="btn btn-bwm">
					<input #imageInput type="file" accept="image/*" id="images" alt="../assets/seol-photo.jpg"
						(change)="processImage($event,imageInput)">
				</label>
				<div>
					<img [src]="selectedFile ? selectedFile.source : ''" />
				</div>
			</div>
			<button class="postInputBox__postButton">Post</button>
		</div>
	</form>
</div>
