<div class="post">
	<div class="post__avatar">
		<img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
	</div>
	<div class="post__body">
		<div class="post__header">
			<div class="post__headerText">
				<h3>
					Admin<span class="post__headerSpecial"><span class="material-icons post__badge">
							verified </span>@admin</span>
				</h3>
			</div>
			<div class="post__headerDescription">
				<h2>{{post.title}}</h2>
			</div>
		</div>
		<img src="../assets/images/seol-photo.jpg" alt="" />
		<div class="post__body">{{post.body}}</div>
		<div class="post__footer">
			<span class="material-icons"> favorite_border </span>
			<span class="material-icons"> notes </span>
			<span class="material-icons"> send </span>
			<span class="material-icons" (click)="onDelete"> delete </span>
		</div>
	</div>
	<!--<p>test</p>-->
</div>
